body{
    margin: 0;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 15vw 85vw;
    grid-template-rows: 11vh 81vh 8vh;
    gap: 0;
   
}
 
.header{
    grid-area:header;
    background-color: #436342;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 
}
 
.aside{
    grid-area: aside;
    background-color: #9f6c3a;
}
 
.main{
    grid-area: main;
    background-color:#fff;
 
}
 
.home{
    background-image: url('resources/jardineiro2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.main img{
    width: 13vw;
}
 
.main h1{
    color: #f7edd9;
    font-size: 40px;
}
 
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#436342;
}
 
.footer span{
    color: #f7edd9;
   
}
.header img{
    width: 4vw;
    margin-left: 3vw;
    margin-right: 2vw;
}
 
.header span{
    font-size: 5vh;
    color: #f7edd9;
}
 
.menu-vertical{
    margin: 0;
    padding: 0;
    width: 100%;
   
}
 
.menu-vertical li{
    color: #f7edd9;
    text-decoration: none;
    display: block;
    font-size: 25px;
    height: 2vh;
    padding: 3vh;
    border-bottom: 1px solid #5e3d1d;
}
 
.menu-vertical img{
    width: 1vw;
    margin-right: 1vw;
}
 
.menu-vertical li:hover{
    background-color: #744110;
    cursor: pointer;
}
 
.menu-vertical li a{
    color: #f7edd9;
    text-decoration: none;
}
 
#item_atual{
    background-color: #744110;
}
 
.plantas h2{
    color: #436342;
    margin-bottom: 20px;
}
 
.plantas{
    padding: 20px;
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
   
}
 
 
.vaso h2{
    color: #436342;
    margin-bottom: 20px;
}
 
.vaso{
    padding: 20px;
    flex: 1;
    background-color: #fff;
    overflow-y: auto;
   
}

.filtros {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2vh;
}

.filtros span {
    margin-right: 1vw;
}
 
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
 
}
 
.item{
    background-color: #ddd;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
   
}
.item img{
    width: 110px;
    height: 120px;
}
 
.item h3{
    margin: 0}
 
.item button{
    background-color: #436342;
    color: #f7edd9;
    border: none;
    width: 6vw;
    height: 4vh;
    border-radius: 20px;
    color: #f7edd9;
}
 
.item button:hover{
    background-color: #5c8c5b;
    cursor: pointer;
}
 
.item svg {
    height: 110px;
    width: 120px;
}

.btns_cuidados {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns_cuidados button {
    width: 10%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.btns_cuidados button:hover {
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.cuidados {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fundo {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fundo_verde {
    background-color: #73b451;
}

.fundo_azul {
    background-color: #1e97d8;
    display: none;
}

.fundo_marrom {
    background-color: #5d3d1d;
    display: none;
}

.fundo_amarelo {
    background-color: #ffe204;
    display: none;
}

.btn_escolha_plantas {
    background-color: #73b451;
    color: white;
    border: none;
    border-radius: 3%;
    font-size: 17px;
}

.btn_rega_adequacao {
    background-color: #1e97d8;
    color: white;
    border: none;
    border-radius: 3%;
    font-size: 17px;
}

.btn_solo_adubacao {
    background-color: #5d3d1d;
    color: white;
    border: none;
    border-radius: 3%;
    font-size: 17px;
}

.btn_manutencao_poda {
    background-color: #ffe204;
    border: none;
    border-radius: 3%;
    font-size: 17px;
}